*{
    margin: 0;
    padding: 0;
    font-family: 'ZenDots'
}

@font-face {
    font-family: 'ZenDots';
    src: url(assets/font/ZenDots-Regular.ttf);
}

h1, h4, h3, h2, p{
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

body{
    background-color: #1f1d1f
}

/*--------- HEADER ---------*/

.header__menu{
    height: 15vh;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.header__menu__item{
    display: inline-block;
    list-style-type: none;
    padding: 0px 25px;
    font-size: 0.8rem;
    align-items: center;
    z-index: 100;
    font-size: 13px;
    padding: 11px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header__menu__item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 13px;
    margin: 25px;
}
.header__menu__item a:hover{
    color: #0b977f;
}

/*------------- HOME --------------*/

.home__title{
    position: absolute;
    top: 40%; 
    display: block; 
    text-align: center; 
    width: 100%;
}
.home__title h1{
    font-weight: 700; 
    font-size: 12vh; 
    line-height: 1; 
    text-align: center;
    opacity: 1;
    text-shadow: 4px 7px 4px rgba(255, 255, 255, 0.6);
}
.home__title h2{
    font-weight: 700; 
    font-size: 7vh; 
    opacity: 1;
    margin-top: 30px;
    text-shadow: 4px 6px 4px rgba(255, 255, 255, 0.6);
}

/*----------- SOCIAL ICON ------------*/

.sidebar {
    position: absolute;
    height: 200px;
    width: 40px;
    background-color: #0b977f;
    border-radius: 10px;
    top: 65%;
    right: 15px;
    transform: translate(-50%);
    text-align: center;
}
.box {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;
}
.text {
    background-color: rgb(255, 255, 255);
    height: 100%;
    min-height: 0px;
    margin-right: 5px;
    line-height: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.ico{
    height: 100%;
    min-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.ico i{
    color: rgb(238, 249, 157);
    font-size: 18px;
    line-height: 50px;
    margin-top: 50px;
}
.box:hover .ico{
    color: rgb(238, 249, 157);
}
.box:hover .ico i{
    color: #fff;
}
.box:hover .text{
    min-width: 120px;
}

/*--------- ABOUT ---------*/

.banner{
    height:50%;
    margin-top: 28vh; 
    margin-left: 15%;
}
.banner__image{
    border-bottom-right-radius: 40px; 
    border-bottom-left-radius: 40px; 
    width:17%; 
    float:left;
    height:auto; 
    margin-right: 5%;
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%);
}
.banner__copy{
    width:60%; 
    float:left;
    height:100%;
    display: table;
}
.banner__copy__text{
    display: table-cell; 
    vertical-align: middle;
    padding:30px; 
    margin-left: 5%;
}
.banner__copy__text h2{
    font-size: 36px;
    margin-bottom:0; 
    padding-bottom: 35px; 
    opacity: 1;
}
.banner__copy__text p{
    font-size: 20px; 
    margin: 5px 0; 
    opacity: 1; 
    font-weight: 100;
}


/*---------- CONTACTS -------------*/

#contacts .form{
    margin-bottom: 20px;    
}
#contacts h1{
    padding-bottom: 1.5rem;
    color:rgb(239, 237, 235);
    opacity: 1;
}
#contacts button{
    margin: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    background-color: #0b977f;
    padding: 8px 25px;
}
#contacts .container h1{
    font-size: 3.5rem;
}
#contacts .container{
    position: absolute;
    top: 15%;
    display: block;
    text-align: center;
    width: 100%;
}
#contacts input,
#contacts textarea{
    width: 30%;
    padding: 10px;
    margin-top: 5px;
}
#contacts textarea{
    height: 120px;
}
#contacts label{
    margin-bottom: 5px;
    display: block;
    color: #0b977f;
}

/*--------- SKILLS -------------*/

#card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.polaroid {
    width: 15%;
    background-color: rgb(51, 51, 51);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    margin-bottom: 20px;
    margin-top: 6%;
    border-radius: 10px;
}
.container__text p{
    text-align: center;
    padding-bottom: 20px;

}
.container__text{
    height: max-content;
}
#card .polaroid{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 100%;
    height: auto;
}
.icon__css{
    width: 100%;
    height: 233px;
}
.skill{
    text-align: center;
    margin-top: 9%;
    font-size: 3rem;
}

/*-------- FOOTER ---------- */
.footer {
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
}
.footer p {
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
}


/*--------- TABLET -----------*/

@media screen and (min-width: 481px) and (max-width: 769px){
    #card .polaroid{
        width: 30%;
        margin: 10%;
        margin-top: 15%;
    }
    .header__menu {
        position: relative;
    }
    .header__menu__item a{
        width: 100%;
        margin: 0;
        padding-bottom: 20%;
    }
    .home__title h1,
    .home__title h2{
        position: relative;
        max-width: 100%;
        font-size: 3rem;
    }
    .home__title{
        position: relative;
        margin-bottom: 60%;
        margin-top: 20%;
    }
    .footer{
        bottom: 0;
        position: relative;
        height: 100%;
    }
    .footer p{
        font-size: 0.5rem;
    }
    #contacts .container{
        position: relative;
    }
    #contacts .container h1{
        font-size: 2rem;
    }
    section .banner{
        position: relative;
    }
    .banner__image{
        width: 30%;
    }
    .banner__copy__text h2{
        text-align: center;
        font-size: 2rem;
    }
}

/* SMARTPHONE */

@media screen and (max-width: 480px){
    body{
        margin: 0;
        padding: 0;
    }
    /* Home */
    .header__menu {
        position: relative;
    }

    .header__menu__item a{
        width: 100%;
        margin: 0;
        padding-bottom: 20%;
    }
    .home__title h1,
    .home__title h2{
        position: relative;
        max-width: 100%;
        font-size: 2rem;
    }
    .home__title{
        position: relative;
    }
    .home__title h1{
        margin-top: 30%;
    }
    .home__title h2{
        margin-bottom: 55%;
    }

    /* About */
    section .banner{
        position: relative;
    }
    .banner__image{
        width: 95%;
    }
    .banner__copy__text h2{
        text-align: center;
        font-size: 2rem;
    }
    .banner__copy__text p{
        margin-bottom: 25%;
        text-align: left;
        font-size: 1rem;
        width: 100%;
    }

    /* Skills */

    #card .polaroid{
        width: 90%;
        margin: 20%;
    }

    /* Contatti */
    #contacts .container{
        position: relative;
    }
    #contacts .container h1{
        font-size: 2rem;
    }

    /* Footer */
    .footer{
        bottom: 0;
        position: relative;
        height: 100%;
    }
    .footer p{
        font-size: 0.5rem;
    }
    .sidebar{
        transform: scale(0.4);
        position: relative;
        bottom: 5%;
        min-height: 100%;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        right: 0;
    }
}




