*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Exa', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;300;400;500;600;700;800;900&display=swap');


h1, h4, h3, h2, p{
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

body{
    background-color: #1d1d1f
}

/*--------- HEADER ---------*/

.header__menu{
    height: 15vh;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.header__menu__item{
    display: inline-block;
    list-style-type: none;
    padding: 0px 25px;
    font-size: 0.8rem;
    align-items: center;
    z-index: 100;
    font-size: 13px;
    padding: 11px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header__menu__item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    margin: 25px;
    font-weight: 600;
}
.header__menu__item a:hover{
    color: #0b977f;
}

/*----------- SOCIAL ICON ------------*/

.sidebar {
    position: absolute;
    height: 200px;
    width: 40px;
    background-color: #0b977f;
    border-radius: 10px;
    top: 65%;
    right: 15px;
    transform: translate(-50%);
    text-align: center;
}
.box {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;
}
.text {
    background-color: rgb(255, 255, 255);
    height: 100%;
    min-height: 0px;
    margin-right: 5px;
    line-height: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.ico{
    height: 100%;
    min-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.ico i{
    color: rgb(238, 249, 157);
    font-size: 18px;
    line-height: 50px;
    margin-top: 50px;
}
.box:hover .ico{
    color: rgb(238, 249, 157);
}
.box:hover .ico i{
    color: #fff;
}
.box:hover .text{
    min-width: 120px;
}

/*-------- FOOTER ---------- */

.footer {
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
}
.footer p {
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

/*--------- TABLET -----------*/

@media screen and (min-width: 481px) and (max-width: 769px){

    .header__menu {
        position: relative;
    }
    .header__menu__item a{
        width: 100%;
        margin: 0;
        padding-bottom: 20%;
    }

    .footer{
        bottom: 0;
        position: relative;
        height: 100%;
    }
    .footer p{
        font-size: 0.5rem;
    }

}

/*-------- SMARTPHONE --------*/

@media screen and (max-width: 480px){
    body{
        margin: 0;
        padding: 0;
    }
    
    .header__menu {
        position: relative;
    }
    .header__menu__item a{
        width: 100%;
        margin: 0;
        padding-bottom: 20%;
    }

    .footer{
        bottom: 0;
        position: relative;
        height: 100%;
    }
    .footer p{
        font-size: 0.5rem;
    }
    
    .sidebar{
        transform: scale(0.4);
        position: relative;
        bottom: 5%;
        min-height: 100%;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        right: 0;
    }
}




